.project a{
    text-decoration: none;
}

.project-header {
    display: flex;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        position: relative;
    }

    h3 {
        margin-right: 0.5em;
    }
}