@use "src/variables.scss" as var;

.container {
    padding: 1rem;
}

.project-header {
    display: flex;
    align-items: center;

    h1 {
        margin-right: 1rem;
    }

    a {
        color: rgb(126, 126, 126);
        transform: scale(1.2);
        &:hover {
            color: rgb(0, 0, 0);
        }
    }
}