@use "src/variables.scss" as var;

.navBar {
    width: 100%;
    height: var.$navbar-height;
    display: flex;
    justify-content: center;

    ul {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {
            margin: auto;
            padding: 0.2rem;
            transform: scale(1.5);
        }

        a {
            color: grey;
            :active {
                color: rgb(88, 88, 88);
            }
        }
    }
}