.navBar {
    
    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        text-decoration: none;
        font-family: monospace;
        color: whitesmoke;
        font-size: 25px;
    }
}