.navBar {
    display: inline-block;
    list-style-type: none;
    font-family: monospace;
    color: whitesmoke;
    font-size: 25px;
    width: 100%;

    li {
        display: inline-block;
        margin-right: 1em;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        
        &:hover {
            color: rgb(255, 222, 115);
        }
    }
    
    .left {
        float: left;
    

    }

    .right {
        float: right;
    }
}