@use "variables" as var;

.page-body {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 100%;
    &::-webkit-scrollbar, ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 800px){
    .page-body {
        scroll-snap-type: y mandatory;
    }
    
}