
body {
    font-family: monospace;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(36, 36, 36);
}

#page-body {
    margin: 10em;
    padding: 1em;
    background-color: rgb(136, 136, 136);
}