@use "variables" as var;

@keyframes move {
    from {background-position: bottom left;}
    to {background-position: top right;}
}

body {
    font-family: monospace;
    color: whitesmoke;
    text-decoration: none;
    background-image: url("./components/backgroundImage.png");
    animation: move 100s linear infinite;
    animation-timing-function: linear;
    background-position: center;
    background-color: rgb(36, 36, 36);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#page-body {
    margin: 10em;
    padding: 1em;
    background-color: var.$primary-color;
    backdrop-filter: var.$blur;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var.$primary-outline;
    border-radius: 5px;
}

