$background-color: rgb(213, 224, 226);

$text-color: rgb(23, 41, 56);

$primary-color: rgb(255, 255, 255);
$blur: blur(3px);
$primary-outline: rgb(179, 179, 179);

$hover-primary: rgb(255, 216, 45);

$navbarSwap: 1120px